{% extends 'base.html' %}

{% block main %}

    <h3>Lista de veiculos</h3>
    <br>

    {% for msg in messages %}
        <div class="alert alert-success alert-dismissible">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ msg }}
        </div>
    {% endfor %}
    
    <ul class="list-group">
        {% for i in dados %}
            <li class="list-group-item list-group-item-dark">
                Nome proprietário: {{i.id_cliente}}<br>
                Fabricante: {{i.id_fabricante}}<br>
                
                {% if i.modelo %}
                    Modelo: {{i.modelo}}<br>
                {% else %} Modelo: - <br>
                {% endif %}
                
                {% if i.cor %}
                    Cor: {{i.cor}}<br>
                {% else %}Cor: -<br>
                {% endif %}
                
                Ano: {{i.ano}}<br>
                Placa: {{i.placa}}<br>
                
                {% if i.foto %}
                    <img src="{{i.foto.url}}" width="200px"> <br>
                {% else %} Não tem foto <br>
                {% endif %}
                
                <br>

                <button type="button" class="btn btn-success" onclick="location.href='/altera_veiculo/{{i.id}}/'">
                    <i class="fas fa-pen"></i>
                    Editar
                </button> 
                <button type="button" class="btn btn-danger" onclick="location.href='/exclui_veiculo/{{i.id}}/'">
                    <i class="fas fa-trash"></i>
                    Excluir
                </button>
            </li>
        {% endfor %}
    </ul>

{% endblock main %}