{% extends 'base.html' %}

{% block main %}
    <br>
    <h3>Lista de cliente</h3>
    <br>
    {% for msg in messages %}

        <div class="alert alert-success alert-dismissible">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ msg }}
        </div>
    {% endfor %}

    <ul class="list-group">
        {% for i in dados %}
            <li class="list-group-item list-group-item-dark">
                Nome: {{i.nome}} <br>
                
                {% if i.endereco %}
                    Endereço: {{i.endereco}} <br>
                {% endif %}
                
                {% if i.complemtento %}
                    Complemento: {{i.complemento}} <br>
                {% else %}Complemento: - <br>
                {% endif %}
                
                {% if i.bairro %}
                    Bairro: {{i.bairro}} <br>
                {% else %}Bairro: - <br>
                {% endif %}
                
                {% if i.cidade %}
                    Cidade: {{i.cidade}} <br>
                {% else %}Cidade: - <br>
                {% endif %}
                
                {% if i.cep %}
                    CEP: {{i.cep}} <br>
                {% else %}CEP: - <br>
                {% endif %}
                
                Email: {{i.email}} <br>
                
                {% if i.telefone %}
                    Telefone: {{i.telefone}} <br>
                {% else %}Telefone: - <br>
                {% endif %}

                {% if i.foto %}
                    <img src="{{i.foto.url}}" width="200px"><br>    
                {% else %} Não tem foto <br>
                {% endif %}
                <br>
                
                <button type="button" class="btn btn-success" onclick="location.href='/altera_cliente/{{i.id}}/'">
                    <i class="fas fa-pen"></i>
                    Editar
                </button> 
                <button type="button" class="btn btn-danger" onclick="location.href='/exclui_cliente/{{ i.id }}'">
                    <i class="fas fa-trash"></i>
                    Excluir
                </button>
            </li>
        {% endfor %}
    </ul>

{% endblock main %}