{% extends 'base.html' %}
{% load static %}

{% block main %}
    <h3>TAcar - Estacionamento</h3>
    
    <a href="/">Home</a> &nbsp;
    <a href="/cadastro_cliente">Cadastro_cliente</a> &nbsp;
    <a href="/lista_clientes">Lista_cliente</a> &nbsp;
    <a href="/cadastro_veiculo">Cadastro_veiculo</a> &nbsp;
    <a href="/lista_veiculos">lista_veiculos</a> &nbsp;
    <a href="/tabela/">Tabela_preços</a> &nbsp; &nbsp; &nbsp;
    <a href="/cadastro_fabricante">Cadastro de fabricantes</a> &nbsp; &nbsp; &nbsp;
    <a href="/lista_fabricante">Lista_fabricante</a> &nbsp; &nbsp; &nbsp;
    (<a href="admin/" target="_blank">Admin</a>) <br>

    <img src="{% static "fundo.png" %}" width="600">
{% endblock main %}
